<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="life.lixiaoyu.composeactionlearning">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ComposeActionLearning"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ComposeActionLearning">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".chapter1.Chapter1Activity" />
        <activity android:name=".chapter1.HelloWorldActivity" />
        <activity android:name=".chapter1.AddComposeToViewActivity" />
        <activity android:name=".chapter1.AddViewToComposeActivity" />
        <activity android:name=".chapter1.AddXMLViewToComposeActivity" />

        <activity android:name=".chapter2.Chapter2Activity" />
        <activity android:name=".chapter2.ModifierDemoActivity" />
        <activity android:name=".chapter2.MatchParentSizeActivity" />
        <activity android:name=".chapter2.TextDemoActivity" />
        <activity android:name=".chapter2.TextFieldDemoActivity" />
        <activity android:name=".chapter2.ImageDemoActivity" />
        <activity android:name=".chapter2.ButtonDemoActivity" />
        <activity android:name=".chapter2.CheckboxDemoActivity" />
        <activity android:name=".chapter2.DialogDemoActivity" />
        <activity android:name=".chapter2.ProgressIndicatorDemoActivity" />
        <activity android:name=".chapter2.LayoutComponentDemoActivity" />
        <activity android:name=".chapter2.ConstraintLayoutDemoActivity" />
        <activity android:name=".chapter2.ScaffoldDemoActivity" />
        <activity android:name=".chapter2.ListDemoActivity" />

        <activity android:name=".chapter3.Chapter3Activity" />
        <activity android:name=".chapter3.CompositionLocalDemoActivity" />

        <activity android:name=".chapter4.Chapter4Activity" />
        <activity android:name=".chapter4.CounterActivity" />
        <activity android:name=".chapter4.Counter2Activity" />
        <activity android:name=".chapter4.Counter3Activity" />
        <activity android:name=".chapter4.Counter4Activity" />
        <activity android:name=".chapter4.Counter5Activity" />
        <activity android:name=".chapter4.Counter6Activity" />
        <activity android:name=".chapter4.Counter7Activity" />
        <activity android:name=".chapter4.ShowSnakeBarActivity"/>
        <activity android:name=".chapter4.RememberSavableActivity" />
        <activity android:name=".chapter4.CompositionDemoActivity"/>
        <activity android:name=".chapter4.AsyncCompositionActivity" />
        <activity android:name=".chapter4.CompositionScopeActivity" />
        <activity android:name=".chapter4.SideEffectsTimerDemoActivity" />

        <activity android:name=".chapter5.Chapter5Activity" />
        <activity android:name=".chapter9.Chapter9Activity" />
    </application>

</manifest>